<div style="padding: 13px">
    <mat-card style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Privacy Policy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    <p style="padding: 13px;">
        The Computer Reset liquidation is being run by volunteers to assist the family of Richard Byron, former owner
        of Computer Reset in Dallas, TX.
        </p>
        <mat-card-subtitle><h2>Information we retain:</h2></mat-card-subtitle>
        <mat-list><mat-list-item>If you log into this site, we retain your Facebook first name, last name and unique profile ID.</mat-list-item>
        <mat-list-item>If you sign up for an event, we retain the information used to sign up for the event. This
            includes your real name, city and state and any attendance information relating to that or past events.
        </mat-list-item>
        <mat-list-item>We do not sell any data. All data is retained only for use of liquidation events and to comply
            with current and future Covid-19 governmental requirements.
        </mat-list-item>
        <mat-list-item>We do not share any data with any marketing partners.</mat-list-item>
        <mat-list-item>Data will be retained for up to one year after the completion of the liquidation,
            or three years, whichever is less. The primary reason for retention is to comply with any
        future contact tracing requirements related to the Covid-19 pandemic.</mat-list-item>
        <mat-list-item>Data is stored in the United States in compliance with the rules of the USA.</mat-list-item>
    </mat-list>
    </mat-card-content>
    </mat-card>
    </div>