@use '~@angular/material' as mat;
@include mat.core();

/* ======== Angular material custom themes ======== */ 
$cr-primary: mat.define-palette(mat.$red-palette);
$cr-accent: mat.define-palette(mat.$indigo-palette, 100, 500, A100);
$cr-warn: mat.define-palette(mat.$pink-palette);

$cr-theme: mat.define-light-theme($cr-primary, $cr-accent, $cr-warn);

@include mat.all-component-themes($cr-theme);

p {
  font-size: 115%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }