.big-button{
    width: 200px!important;
    min-width: unset!important;
    height: 50px!important;
    text-align: center;
    font-size: 110%;
}

.big-button-center {
    padding: 15px 0;
    width: 200px!important;
    min-width: unset!important;
    text-align: center;
    font-size: 125%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alertmessage {
    background-color: #AB47BC;
    color: #ffffff;
    width: auto;
    text-align: left;
    font-size: 110%;
    line-height: 110%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }

  .weathermessage {
    background-color: #FFFF00;
    color: #b71c1c;
    font-size: 110%;
    line-height: 110%;
    font-weight: bolder;
    padding: 10px 0;
    width: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }

  .mat-list-item alertmessage {
    color: #ffffff;
    text-align: center;
  }

  .mat-icon {
    padding: 0 5px 0 0;
  }


  .textcenter {
    text-align: center;
}
