<div style="padding: 13px;">
<mat-card>
      <mat-card-header>
        <mat-card-subtitle>Welcome to the Computer Reset Liquidation Signup Site!
        </mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <p><img src="assets/cr.svg" width="320px" class="center"></p>
          <p>We are a group of volunteers helping the daughter of Richard Byron, owner of 
            Computer Reset, liquidate the Dallas legendary computer resale shop.
          </p>
          <p>Located within the walls of Computer Reset are a large collection of IBM
            PC Convertible parts, IBM PCJr computers and accessories, and numerous IBM and
            clone computers spanning 30+ years. Other items that have been sold include
            the famous Dune Buggy, cars, audio/visual equipment, a fire hydrant, a boat motor,
            and all sorts of technology-related items.
          </p>
          <p>Liquidation events are held when announced, as permitted by weather and volunteer
            availability. Event signups are offered for a specific date and time slot, and are
            only available in limited numbers to comply with social distancing and governmental
            requirements.
          </p>
          <p>All proceeds of the sales benefit the Byron family estate.
          </p>
          <p>Official Computer Reset merchandise can be found on 
            <a href="https://www.amazon.com/s?rh=n%3A7141123011%2Cp_4%3ARetro-Hi&ref=mh_bl_sl_s_ap_mw_7141123011">
            Amazon at this link.</a> Only merchandise from this seller (Retro-Hi) benefits the Byron family. 
          Any items on eBay or other Amazon sellers are counterfeit!</p>
        </mat-card-content>
        <mat-card-content class="alertmessage">
          <mat-list>
        <mat-list-item class="alertmessage"><mat-icon>warning</mat-icon> Signing up for an event does not guarantee a slot.</mat-list-item>
        <mat-list-item class="alertmessage"><mat-icon>warning</mat-icon> Signups are handled on a first come, first served basis.</mat-list-item>
      </mat-list>
        </mat-card-content>
        <mat-card-content class="weathermessage">
          <mat-list>
        <mat-list-item class="weathermessage"><mat-icon>warning</mat-icon> Events may be canceled at any time due to weather.</mat-list-item>
      </mat-list>
    </mat-card-content>
 <mat-card-actions>
  <a *ngIf='signupTest=="Y"' mat-raised-button color="primary" class="big-button-center" href="https://computerresetsignup.azurewebsites.net/">Sign up for an event</a>
  <div *ngIf='signupTest=="N"'>No events are currently available to sign up for.</div>
  <p></p><p class="textcenter">Facebook ID and membership in the 
    <a href="https://www.facebook.com/groups/ComputerResetWL/">Computer Reset Liquidation Facebook group</a>
     is required for event signup. You will log in with Facebook at this link.</p>
 </mat-card-actions>
 <mat-card-footer><p class="textcenter">Why buy new, when used will do?™</p></mat-card-footer>
</mat-card>
</div>